$primary-blue: #2f4eff;
$light-blue: #f2f4ff;
$light-grey: #f5f5f5;
$tab-blue: #e9f0ff;
$black: #000000;
$white: #ffffff;
$text-grey: #777777;
$br-gray: #e2e2e2;
$textblack: #595959;
$dark-text: #121a26;
$black-tab: #030303;
$shadow-grey: #d8d8d8;
$green: #00C360;
$purple: #8b54eb;
$orange: #ffb300;
$red: #f7474a;