@tailwind base;
@tailwind components;
@tailwind utilities;

@import '_variable';
@import 'typography';

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}

body {
    color: rgb(var(--foreground-rgb));
    font-family: "Outfit", sans-serif;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Outfit", sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

// custom css

.mobile-view {
    display: none;
}

.eta-calender-wrapper {
    height: 100%;
    position: relative;
    background-image: url('/images/top-blob.svg');
    background-repeat: no-repeat;

    &:before {
        content: '';
        height: 50%;
        width: 100%;
        background: linear-gradient(0deg, $light-blue, transparent);
        position: absolute;
        bottom: 0;
        z-index: -1;
    }
}

.login-wrapper {
    height: 100%;
    position: relative;
    background-image: url('/images/blob-b.svg');
    background-repeat: no-repeat;

    &:before {
        content: '';
        height: 50%;
        width: 100%;
        background: linear-gradient(0deg, $light-blue, transparent);
        position: absolute;
        bottom: 0;
        z-index: -1;
    }
}

button.blue-button {
    width: 100%;
    padding: 14px;
    border-radius: 3rem;
    background-color: $primary-blue;
    color: $white;
    font-size: 17px;
    height: 50px;
    text-transform: capitalize;
}

button.white-button {
    width: 100%;
    padding: 14px;
    border-radius: 3rem;
    background-color: $white;
    border: 1px solid $primary-blue;
    font-size: 17px;
    height: 50px;
    text-transform: capitalize;
    color: $primary-blue;
}

button.blue-button:hover,
button.white-button:hover,
button.white-button:active,
button.blue-button:hover {
    background-color: transparent;
    color: $primary-blue;
    border: 1px solid $primary-blue;
}

.social-link-container {
    text-align: center;

    img {
        margin: auto;
    }
}

.input-custom {

    border: 1px solid $br-gray;
    outline: 1px solid $br-gray;

    &:focus {
        border: 1px solid $primary-blue;
        outline: 1px solid $primary-blue;
    }
}

.social-link-container {
    background-color: $white;
    padding: 20px;
    max-width: 85%;
    border-radius: 8px;
    margin: auto;
    box-shadow: 0 0 2rem $shadow-grey;
}

.tab-container {
    background-color: $tab-blue;

    button {
        font-size: 16px !important;
        color: $dark-text;
        text-transform: capitalize !important;
        padding: 8px !important;
        min-width: 78px !important;
        font-weight: 400;
    }
}

.color-box {
    width: 146px;
    border-radius: 9px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.blue-tiel {
    color: $white;
    background-color: $primary-blue;
}

.light-tiel {
    color: $black-tab;
    background-color: $light-blue;
}

.customer-img {
    border-radius: 100px;
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin: auto;

    img {
        height: 100%;
        object-fit: cover;
    }
}

.CircularProgressbar-path {
    stroke: $primary-blue !important;
}

.CircularProgressbar-trail {
    stroke: $light-blue !important;
}

.green-circle .CircularProgressbar-path {
    stroke: $green !important;
}

.red-circle .CircularProgressbar-path {
    stroke: $red !important;
}

.red-purple .CircularProgressbar-path {
    stroke: $purple !important;
}

.orange-purple .CircularProgressbar-path {
    stroke: $orange !important;
}

.color-circle {
    margin: 15px;
}

.banner-wrapper {
    margin: 1rem;

    img {
        width: 100%;
    }
}

.cross {
    color: $white;
    position: absolute;
    right: 10px;
    top: 10px;
}

@media screen and (max-width: 540px) {
    .mobile-view {
        display: block;
    }
}